/* Common CSS */
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}
header::after,
section::after{
    content: "";
    clear: both;
    display: block;
}
.content{
     padding: 180px 0px 80px 80px;
}
h1{
    text-align: center;
    font-size: 45px;
    font-weight: 400;
}
h2{
    color: #202428;
    font-weight: 300;
    font-size: 40px;
    margin: 0;
    padding: 10px;
}
p{
    color: #707070;
    font-size: 14px;
}
.btn{
    text-decoration: none;
    padding: 12px 22px;
    background-image: linear-gradient(45deg, #EC5094, #EC4B75);
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    font-weight: 700;
}
img {
    width: 100%;
    padding-top: 100px;
}

/* Header Area */
.header-area{
    background: url("images/header-bg.png") no-repeat;
    background-size: cover;
}

.header-area .name-color{
    color: #EC4C7A;
    font-weight: 700;
    font-size: 60px;
    margin: 0 0 40px 0;
}

/* Biography Area */
.biography-area{
    margin-top: 200px;
    background: url("images/biography-bg.png") no-repeat;
    background-size: cover;
}

/* Latest Work Area */
.latest-work{
    margin-top: 200px;
    margin-bottom: 200px;
    background: url("images/latest-work-bg.png") no-repeat;
    background-size: cover;
    background-position: right;
}
.gallery{
    overflow: hidden;
    margin-top: 80px;
}
.gallery .gallery-width{
    width: 30%;
    float: left;
    margin-right: 5%;
}
.gallery .gallery-width:last-child{
    margin-right: 0;
}
.gallery .gallery-width img{
    padding-top: 0;
}

/* Footer Area */
.footer-area{
    background: url("images/footer-bg.png") no-repeat;
    background-size: cover;
    background-position: left;
    margin-bottom: 80px;
}
.footer-area .client-area{
    text-align: center;
    margin-bottom: 30px;
}
.footer-area .client-area h1{
    font-size: 30px;
    margin-bottom: 30px;
}
.footer-area .client-area img{
   width: 150px;
   border-radius: 50%;
   padding: 0;
}
.footer-area .client-area h3{
    font-size: 14px;
    color: #202428;
    margin-bottom: 0;
}
.footer-area .client-area .ceo{
    font-size: 10px;
    margin-top: 5px;
}
.footer-area .email-area{
    border-radius: 5px;
    background-image: linear-gradient(45deg, #EC5196, #ED4B72);
    padding: 40px;
}
.footer-area .email-area p{
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.footer-area p.email-hero{
    font-size: 35px;
}